@mixin btn-selected {
  &.ob-selected {
    @include overlay-outline-selected();

    &:hover {
      @include overlay-outline-hover();
    }
  }
}

.ob-btn {

  display: inline-block;
  min-width: $btn-width-min - 2 * $btn-padding-x;
  padding: $btn-padding-y $btn-padding-x;

  font-size: $btn-font-size;
  font-weight: $font-weight-bold;
  line-height: $btn-line-height;
  text-align: center;
  vertical-align: middle;

  border-radius: $btn-border-radius;

  &:hover {
    cursor: pointer;
  }

  &.ob-normal {
    @include overlay-outline-normal();
    @include btn-selected();

    &:hover {
      @include overlay-outline-hover();
    }
  }

  &.ob-raised {
    @include overlay-outline-raised();
    @include btn-selected();

    &:hover {
      @include overlay-outline-hover();
    }
  }


}


