@mixin btn-selected {
  &.ob-selected {
    @include overlay-outline-selected();
  }
}

.ob-btn {

  display: inline-block;
  min-width: $btn-width-min - 2 * $btn-padding-x;
  padding: $btn-padding-y $btn-padding-x;

  font-size: $btn-font-size;
  font-weight: $font-weight-bold;
  line-height: $btn-line-height;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;
  border-radius: $btn-border-radius;

  &.ob-normal {
    @include btn-normal-style();
    @include btn-selected();
  }

  &.ob-raised {
    @include btn-raised-style();
    @include btn-selected();
  }
}

.ob-toggle-switch {
  @include indent();

  display: flex;
  align-items: center;

  width: $btn-width-toggle;
  height: $btn-height-small;

  border-radius: $btn-height-small;

  $space-x: ($btn-height-small - $btn-diameter-thumb) / 2;

  cursor: pointer;

  $transition-time: .3s;
  transition: background-color $transition-time;

  &::after {

    @include thumb();
    margin: $space-x;
    content: "";
    transition: margin-left $transition-time;
  }

  &.ob-selected {
    background-color: $color-alert-running;

    &::after {
      margin-left: $btn-width-toggle - $space-x - $btn-diameter-thumb - 2 * $border-width;
    }
  }

}


