.ob-nav-top-bar {
  display: flex;
  justify-content: space-between;

  width: $nav-top-bar-width;
  height: $nav-top-bar-height;

  background-color: $color-surface-global;
  border-bottom: solid $color-border-outline .0416 * $base-size;


  .ob-menu-container {
    display: flex;

    height: $nav-top-bar-height;


    .ob-nav-item {
      padding: ($nav-top-bar-height - $nav-btn-height) / 2;

      color: $color-on-background-unfocused;

      & > * {
        margin: 0 ($nav-top-bar-spacing / 2);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .ob-nav-btn {
      $border-width-and-padding: $nav-btn-padding + $border-width;
      display: flex;
      height: $nav-btn-height;


      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, .12);
      }
    }

    .ob-divider {
      width: $nav-divider-width;
      height: $nav-divider-height;

      margin: (( $nav-top-bar-height - $nav-divider-height ) / 2) 0;

      background-color: $color-border-divider;
    }

    .ob-sub-title {
      font-size: $nav-sub-title-font-size;
      font-style: normal;
      font-weight: $font-weight-bold;
      font-stretch: normal;

      line-height: normal;

      color: $color-on-background-focused;

      letter-spacing: $nav-sub-title-letter-spacing;

    }

  }


}
