.ob-nav-top-bar {
  display: flex;
  justify-content: space-between;

  width: $nav-top-bar-width;
  height: $nav-top-bar-height;

  background-color: $color-surface-global;
  border-bottom: solid $color-border-outline .0416 * $base-size;


  .ob-menu-container {
    display: flex;

    height: $nav-top-bar-container-height;
    padding: $nav-top-bar-container-padding;

    .ob-nav-item {
      margin: 0 ($nav-item-margin-x);
      color: $color-on-background-unfocused;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .ob-nav-btn {
      $border-width-and-padding: $nav-btn-padding + $border-width;
      position: relative;
      width: $nav-btn-height;
      height: $nav-btn-height;


      padding: $nav-btn-padding;
      margin: (- $border-width-and-padding) ($nav-item-margin-x - $border-width-and-padding);

      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: $border-width;
      border-radius: $nav-btn-border-radius;


      &:hover {
        background-color: rgba(0, 0, 0, .12);
        border-color: rgba(0, 0, 0, .06);
      }

      &:first-child {
        margin-left: - $border-width-and-padding;
      }

      &:last-child {
        margin-right: - $border-width-and-padding;
      }
    }

    .ob-divider {
      position: relative;
      top: ($nav-top-bar-container-height - $nav-divider-height) / 2;
      width: $nav-divider-width;
      height: $nav-divider-height;
      margin: 0 ($nav-divider-space-between-divider-and-icon - $nav-item-margin-x);

      background-color: $color-border-divider;


      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }


    .ob-sub-title {
      font-size: $nav-sub-title-font-size;
      font-style: normal;
      font-weight: $font-weight-bold;
      font-stretch: normal;

      line-height: normal;

      color: $color-on-background-focused;

      letter-spacing: $nav-sub-title-letter-spacing;

    }

  }


}
