.ob-nav-top-bar {
  display: flex;
  justify-content: space-between;

  width: $nav-top-bar-width;
  height: $nav-top-bar-height;

  background-color: $color-surface-global;
  border-bottom: solid $color-border-outline .0416 * $base-size;


  .ob-menu-container {
    display: flex;

    height: $nav-top-bar-height;


    .ob-nav-item {
      padding: ($nav-top-bar-height - $nav-btn-height) / 2;

      color: $color-on-background-unfocused;

      & > * {
        margin: 0 ($nav-top-bar-spacing / 2);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .ob-nav-btn {
      $border-width-and-padding: $nav-btn-padding + $border-width;
      display: flex;
      height: $nav-btn-height;


      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, .12);
      }
    }

    .ob-divider {
      width: $nav-divider-width;
      height: $nav-divider-height;

      margin: (( $nav-top-bar-height - $nav-divider-height ) / 2) 0;

      background-color: $color-border-divider;
    }

    .ob-sub-title {
      font-size: $nav-sub-title-font-size;
      font-style: normal;
      font-weight: $font-weight-bold;
      font-stretch: normal;

      line-height: normal;

      color: $color-on-background-focused;

      letter-spacing: $nav-sub-title-letter-spacing;

    }

  }
}

.ob-nav-menu {
  position: absolute;
  top: $nav-top-bar-height;
  bottom: 0;
  left: 0;
  width: $nav-menu-width;

  font-size: $nav-menu-font-size;
  background-color: $color-surface-global;

  .ob-nav-item {
    display: flex;
    align-items: center;

    height: $nav-menu-item-height;
    margin: 0 $nav-menu-item-margin-x;

    border-bottom: $nav-menu-item-divider-thickness solid $color-border-outline;

    &.ob-active .ob-nav-icon {
      transform: rotate(90deg);
    }

    .ob-nav-icon {
      position: absolute;
      right: $nav-menu-item-margin-x;
    }

    .ob-label {
      position: absolute;
      left: $nav-menu-label-margin-x + $nav-menu-item-margin-x;
    }

    &.ob-active .ob-label {
      font-weight: $font-weight-bold;
    }
  }

  .ob-nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: $color-surface-section;
    border-top: $nav-menu-footer-divider-thickness solid $color-border-outline;

    .ob-nav-footer-logo {
      height: $nav-menu-footer-logo-height;
    }

  }
}
