/* $surface-backdrop-color: rgb(192, 192, 192) !default;
$surface-background-color: rgb(255, 255, 255) !default;
$surface-app-color: rgb(242, 242, 242) !default;
$surface-global-color: rgb(213, 213, 213) !default;
$surface-section-color: rgb(233, 233, 233) !default;



$border-divider-color: rgba(0, 0, 0, .12) !default;
$border-outline-color: rgba(0, 0, 0, .2) !default;


$indent-overlay-background-normal-color: rgba(0, 0, 0, .0) !default;
$indent-overlay-border-normal-color: rgba(0, 0, 0, .06) !default;
$indent-overlay-background-hover-color: rgba(0, 0, 0, .12) !default;
$indent-overlay-border-hover-color: rgba(0, 0, 0, .24) !default;



$outline-overlay-border-normal-color: rgba(0, 0, 0, .24) !default;
$outline-overlay-background-hover-color: rgba(0, 0, 0, .12) !default;
$outline-overlay-border-hover-color: rgba(0, 0, 0, .24) !default;
*/
// Missing colors:
$on-background-color: rgb(0, 0, 0) !default;
$on-background-active-color: rgba($on-background-color, .9) !default;
$on-background-inactive-color: rgba($on-background-color, .6) !default;
$on-background-raised-color: rgba($on-background-color, .6) !default;
$on-background-disabled-color: rgba($on-background-color, .3) !default;
$on-background-hinted-color: rgba($on-background-color, .12) !default;
$on-background-transparent-color: rgba($on-background-color, 0) !default;

$on-primary-color: rgb(255, 255, 255) !default;
$on-primary-active-color: rgba($on-primary-color, 1) !default;
$on-primary-inactive-color: rgba($on-primary-color, .6) !default;
$on-primary-disabled-color: rgba($on-primary-color, .3) !default;
$on-primary-hinted-color: rgba($on-primary-color, .12) !default;

$on-background-active-color: #000c !default;
$on-background-focused-color: rgba(0, 0, 0, .9) !default;
$on-background-unfocused-color: rgba(0, 0, 0, .7) !default;

// focus ring
$focus-ring-color: rgb(255, 200, 0) !default;

@import "generated/variables-night";
