$base-rem: 8px !default; /* stylelint-disable-line meowtec/no-px */
$base-size: 1rem !default; // when converting from px in style guide assume base-size=8px
$icon-normal-height: 3rem !default; // material design icon height
$icon-large-height: 5rem !default;

$font-default: "Open Sans", sans-serif !default;

//$font-weight-lighter: lighter !default;
//$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 800 !default;
//$font-weight-bolder: bolder !default;

$title-font-weight: $font-weight-semi-bold !default;
$title-font-size: 3 * $base-size !default;

$subtitle-font-weight: $font-weight-regular !default;
$subtitle-font-size: 3 * $base-size !default;

$overline-font-weight: $font-weight-semi-bold !default;
$overline-font-size: 2 * $base-size !default;
$overline-font-spacing: 1.2 !default;

$button-font-weight: $font-weight-semi-bold !default;
$button-font-size: 2 * $base-size !default;

$selected-body-font-weight: $font-weight-semi-bold !default;
$selected-body-font-size: 2 * $base-size !default;

$body-font-weight: $font-weight-regular !default;
$body-font-size: 2 * $base-size !default;

$selected-label-font-weight: $font-weight-semi-bold !default;
$selected-label-font-size: 2 * $base-size !default;

$label-font-weight: $font-weight-regular !default;
$label-font-size: 1.5 * $base-size !default;
$label-lineheight: 3 * $base-size !default;

$border-width: .125 * $base-size !default;
$border-width-focused: .5 * $base-size !default;
$border-width-active: .25 * $base-size !default;

//$border-radius-normal: .5 * $base-size !default;
$border-radius-large: .75 * $base-size !default;

$number-tag-diameter: 4 * $base-size !default;

$btn-height-normal: 5 * $base-size !default; //Used for all clickable components exept checkbox, radiobutton and toggle switch
$btn-height-small: 3 * $base-size !default; // Checkbox, Radiobutton & Toggle

$btn-border-radius: $border-radius-large !default;
$btn-width-min: 12 * $base-size !default;
$btn-width-toggle: 2 * $btn-height-small !default;
$btn-diameter-thumb: $btn-height-small - 1.25 * $base-size !default;
$btn-padding-x: 3 * $base-size !default;
$btn-text-under-spacing: .5 * $base-size !default;

$app-btn-diameter-normal: 5 * $base-size !default;
$app-btn-diameter-large: 9 * $base-size !default;
$app-btn-large-label-width: 11 * $base-size !default;
$app-btn-large-label-height: 3 * $base-size !default;

$nav-menu-width: 40 * $base-size !default;
$nav-menu-item-height: 7 * $base-size !default;
$nav-menu-item-margin-x: 3 * $base-size !default;
$nav-menu-label-margin-x: 5 * $base-size !default;
$nav-menu-item-divider-thickness: .125 * $base-size !default;
$nav-menu-font-size: 2 * $base-size !default;
$nav-menu-footer-logo-height: 12 * $base-size !default;
$nav-menu-top-border-thickness: .25 * $base-size !default;
$nav-menu-footer-divider-thickness: .25 * $base-size !default;


$nav-top-bar-height: 7 * $base-size !default;
$nav-top-bar-width: 100% !default;
$nav-top-bar-border-bottom-width: .25 * $base-size !default;

$nav-btn-height: 3 * $base-size !default;
$nav-top-bar-spacing: ($nav-top-bar-height - $nav-btn-height) / 2 !default;

$nav-divider-height: 4 * $base-size !default;
$nav-divider-width: .125 * $base-size !default;
$nav-title-spacing-x: 2 * $base-size !default;

$z-index-hover: 1 !default;
$z-index-focus: 2 !default;

$on-background-active-color: var(--on-background-active-color) !default;
$on-background-raised-color: var(--on-background-raised-color) !default;
$on-background-disabled-color: var(--on-background-disabled-color) !default;
$on-background-hinted-color: var(--on-background-hinted-color) !default;

$on-primary-active-color: var(--on-primary-active-color) !default;
$on-primary-disabled-color: var(--on-primary-disabled-color) !default;

$on-background-active-color: var(--on-background-active-color) !default;
$on-background-focused-color: var(--on-background-focused-color) !default;
$on-background-unfocused-color: var(--on-background-unfocused-color) !default;

// focus ring
$focus-ring-color: var(--focus-ring-color) !default;

// GENERATED
// raised style
$style-raised-normal-fill-color: var(--style-raised-normal-fill-color) !default;
$style-raised-normal-stroke-color: var(--style-raised-normal-stroke-color) !default;
$style-raised-normal-border-width: $border-width !default;

$style-raised-hover-fill-color: var(--style-raised-hover-fill-color) !default;
$style-raised-hover-stroke-color: var(--style-raised-hover-stroke-color) !default;
$style-raised-hover-border-width: $border-width !default;

$style-raised-pressed-fill-color: var(--style-raised-pressed-fill-color) !default;
$style-raised-pressed-stroke-color: var(--style-raised-pressed-stroke-color) !default;
$style-raised-pressed-border-width: $border-width !default;

$style-raised-focused-fill-color: var(--style-raised-focused-fill-color) !default;
$style-raised-focused-stroke-color: var(--style-raised-focused-stroke-color) !default;
$style-raised-focused-border-width: $border-width-focused !default;

$style-raised-disabled-fill-color: var(--style-raised-disabled-fill-color) !default;
$style-raised-disabled-stroke-color: var(--style-raised-disabled-stroke-color) !default;
$style-raised-disabled-border-width: $border-width !default;

// normal style
$style-normal-normal-fill-color: var(--style-normal-normal-fill-color) !default;
$style-normal-normal-stroke-color: var(--style-normal-normal-stroke-color) !default;
$style-normal-normal-border-width: $border-width !default;

$style-normal-hover-fill-color: var(--style-normal-hover-fill-color) !default;
$style-normal-hover-stroke-color: var(--style-normal-hover-stroke-color) !default;
$style-normal-hover-border-width: $border-width !default;

$style-normal-pressed-fill-color: var(--style-normal-pressed-fill-color) !default;
$style-normal-pressed-stroke-color: var(--style-normal-pressed-stroke-color) !default;
$style-normal-pressed-border-width: $border-width !default;

$style-normal-disabled-fill-color: var(--style-normal-disabled-fill-color) !default;
$style-normal-disabled-stroke-color: var(--style-normal-disabled-stroke-color) !default;
$style-normal-disabled-border-width: $border-width !default;

$style-normal-focused-fill-color: var(--style-normal-focused-fill-color) !default;
$style-normal-focused-stroke-color: var(--style-normal-focused-stroke-color) !default;
$style-normal-focused-border-width: $border-width-focused !default;

$style-normal-selected-fill-color: var(--style-normal-selected-fill-color) !default;
$style-normal-selected-stroke-color: var(--style-normal-selected-stroke-color) !default;
$style-normal-selected-border-width: $border-width !default;

// indent style
$style-indent-normal-fill-color: var(--style-indent-normal-fill-color) !default;
$style-indent-normal-stroke-color: var(--style-indent-normal-stroke-color) !default;
$style-indent-normal-border-width: $border-width !default;

$style-indent-hover-fill-color: var(--style-indent-hover-fill-color) !default;
$style-indent-hover-stroke-color: var(--style-indent-hover-stroke-color) !default;
$style-indent-hover-border-width: $border-width !default;

$style-indent-pressed-fill-color: var(--style-indent-pressed-fill-color) !default;
$style-indent-pressed-stroke-color: var(--style-indent-pressed-stroke-color) !default;
$style-indent-pressed-border-width: $border-width !default;

$style-indent-focused-fill-color: var(--style-indent-focused-fill-color) !default;
$style-indent-focused-stroke-color: var(--style-indent-focused-stroke-color) !default;
$style-indent-focused-border-width: $border-width-focused !default;

$style-indent-disabled-fill-color: var(--style-indent-disabled-fill-color) !default;
$style-indent-disabled-stroke-color: var(--style-indent-disabled-stroke-color) !default;
$style-indent-disabled-border-width: $border-width !default;

// selected style
$style-selected-hover-fill-color: var(--style-selected-hover-fill-color) !default;
$style-selected-hover-stroke-color: var(--style-selected-hover-stroke-color) !default;
$style-selected-hover-border-width: $border-width !default;

$style-selected-pressed-fill-color: var(--style-selected-pressed-fill-color) !default;
$style-selected-pressed-stroke-color: var(--style-selected-pressed-stroke-color) !default;
$style-selected-pressed-border-width: $border-width !default;

$style-selected-disabled-fill-color: var(--style-selected-disabled-fill-color) !default;
$style-selected-disabled-stroke-color: var(--style-selected-disabled-stroke-color) !default;
$style-selected-disabled-border-width: $border-width !default;

$style-selected-normal-fill-color: var(--style-selected-normal-fill-color) !default;
$style-selected-normal-stroke-color: var(--style-selected-normal-stroke-color) !default;
$style-selected-normal-border-width: $border-width !default;

$style-selected-focused-fill-color: var(--style-selected-focused-fill-color) !default;
$style-selected-focused-stroke-color: var(--style-selected-focused-stroke-color) !default;
$style-selected-focused-border-width: $border-width-focused !default;

$style-selected-outlined-fill-color: var(--style-selected-outlined-fill-color) !default;
$style-selected-outlined-stroke-color: var(--style-selected-outlined-stroke-color) !default;
$style-selected-outlined-border-width: $border-width !default;

// flat style
$style-flat-hover-fill-color: var(--style-flat-hover-fill-color) !default;
$style-flat-hover-stroke-color: var(--style-flat-hover-stroke-color) !default;
$style-flat-hover-border-width: $border-width !default;

$style-flat-pressed-fill-color: var(--style-flat-pressed-fill-color) !default;
$style-flat-pressed-stroke-color: var(--style-flat-pressed-stroke-color) !default;
$style-flat-pressed-border-width: $border-width !default;

$style-flat-normal-fill-color: var(--style-flat-normal-fill-color) !default;
$style-flat-normal-stroke-color: var(--style-flat-normal-stroke-color) !default;
$style-flat-normal-border-width: $border-width !default;

$style-flat-focused-fill-color: var(--style-flat-focused-fill-color) !default;
$style-flat-focused-stroke-color: var(--style-flat-focused-stroke-color) !default;
$style-flat-focused-border-width: $border-width-focused !default;

$style-flat-disabled-fill-color: var(--style-flat-disabled-fill-color) !default;
$style-flat-disabled-stroke-color: var(--style-flat-disabled-stroke-color) !default;
$style-flat-disabled-border-width: $border-width !default;

// thumb style
$style-thumb-normal-fill-color: var(--style-thumb-normal-fill-color) !default;
$style-thumb-normal-stroke-color: var(--style-thumb-normal-stroke-color) !default;
$style-thumb-normal-border-width: $border-width !default;

$style-thumb-hover-fill-color: var(--style-thumb-hover-fill-color) !default;
$style-thumb-hover-stroke-color: var(--style-thumb-hover-stroke-color) !default;
$style-thumb-hover-border-width: $border-width !default;

$style-thumb-pressed-fill-color: var(--style-thumb-pressed-fill-color) !default;
$style-thumb-pressed-stroke-color: var(--style-thumb-pressed-stroke-color) !default;
$style-thumb-pressed-border-width: $border-width !default;

$style-thumb-focused-fill-color: var(--style-thumb-focused-fill-color) !default;
$style-thumb-focused-stroke-color: var(--style-thumb-focused-stroke-color) !default;
$style-thumb-focused-border-width: $border-width-focused !default;

$style-thumb-disabled-fill-color: var(--style-thumb-disabled-fill-color) !default;
$style-thumb-disabled-stroke-color: var(--style-thumb-disabled-stroke-color) !default;
$style-thumb-disabled-border-width: $border-width !default;

// alert style
$style-alert-running-fill-color: var(--style-alert-running-fill-color) !default;
$style-alert-running-stroke-color: var(--style-alert-running-stroke-color) !default;
$style-alert-running-border-width: $border-width !default;

// Colors
$ui-element-active-color: var(--ui-element-active-color) !default;
$ui-element-active-inverted-color: var(--ui-element-active-inverted-color) !default;
$ui-element-neutral-color: var(--ui-element-neutral-color) !default;
$ui-element-neutral-inverted-color: var(--ui-element-neutral-inverted-color) !default;
$ui-element-disabled-color: var(--ui-element-disabled-color) !default;
$ui-element-disabled-inverted-color: var(--ui-element-disabled-inverted-color) !default;
$ui-container-backdrop-color: var(--ui-container-backdrop-color) !default;
$ui-container-background-color: var(--ui-container-background-color) !default;
$ui-container-section-color: var(--ui-container-section-color) !default;
$ui-container-global-color: var(--ui-container-global-color) !default;
$ui-container-instrument-color: var(--ui-container-instrument-color) !default;
$ui-border-divider-color: var(--ui-border-divider-color) !default;
$ui-border-outline-color: var(--ui-border-outline-color) !default;
$ui-primary-color: var(--ui-primary-color) !default;
$ui-input-color: var(--ui-input-color) !default;
$alert-running-color: var(--alert-running-color) !default;
$alert-caution-color: var(--alert-caution-color) !default;
$alert-warning-color: var(--alert-warning-color) !default;
$alert-alarm-color: var(--alert-alarm-color) !default;
$surface-backdrop-color: var(--surface-backdrop-color) !default;
$surface-background-color: var(--surface-background-color) !default;
$surface-section-color: var(--surface-section-color) !default;
$surface-global-color: var(--surface-global-color) !default;
$border-divider-color: var(--border-divider-color) !default;
$border-outline-color: var(--border-outline-color) !default;
$on-background-unfocused-color: var(--on-background-unfocused-color) !default;
$on-background-raised-color: var(--on-background-raised-color) !default;
$on-background-disabled-color: var(--on-background-disabled-color) !default;
$on-background-indent-color: var(--on-background-indent-color) !default;
$on-background-hinted-color: var(--on-background-hinted-color) !default;
$on-primary-active-color: var(--on-primary-active-color) !default;
$on-primary-normal-color: var(--on-primary-normal-color) !default;
$on-primary-disabled-color: var(--on-primary-disabled-color) !default;
$instrument-static-color: var(--instrument-static-color) !default;
$instrument-dynamic-color: var(--instrument-dynamic-color) !default;
$instrument-input-color: var(--instrument-input-color) !default;
// STOP GENERATED


