//$color-surface-backdrop: #121212 !default;
$color-surface-background: #1e1e1e !default;
//$color-surface-app: #303030 !default;
$color-surface-global: #3c3c3c !default;

$color-on-background-active: #000 !default;
$color-on-background-focused: rgba(255, 255, 255, .9) !default;
$color-on-background-unfocused: rgba(255, 255, 255, .7) !default;

$color-border-divider: rgba(255, 255, 255, .12) !default;
$color-border-outline: rgba(255, 255, 255, .2) !default;

/*
$color-indent-overlay-background-normal: rgba(0, 0, 0, .0) !default;
$color-indent-overlay-border-normal: rgba(0, 0, 0, .06) !default;
$color-indent-overlay-background-hover: rgba(0, 0, 0, .12) !default;
$color-indent-overlay-border-hover: rgba(0, 0, 0, .24) !default;
*/

$color-outline-overlay-background-normal: rgba(255, 255, 255, 1) !default;
$color-outline-overlay-border-normal: rgba(255, 255, 255, .24) !default;
$color-outline-overlay-background-hover: rgba(255, 255, 255, .12) !default;
$color-outline-overlay-border-hover: rgba(255, 255, 255, .36) !default;
