$element-active-color: rgba(0, 0, 0, 1);
$element-neutral-color: rgba(0, 0, 0, .7);
$element-disabled-color: rgba(0, 0, 0, .3);
$element-active-inverted-color: rgba(255, 255, 255, 1);
$element-neutral-inverted-color: rgba(255, 255, 255, .7);
$element-disabled-inverted-color: rgba(255, 255, 255, .3);

:root {
  --element-neutral-color: #{$element-neutral-color};
  --element-disabled-color: #{$element-disabled-color};
  --element-active-inverted-color: #{$element-active-inverted-color};
  --element-neutral-inverted-color: #{$element-neutral-inverted-color};
  --element-disabled-inverted-color: #{$element-disabled-inverted-color};

  --container-backdrop-color: rgba(204, 204, 204, 1);
  --container-background-color: rgba(255, 255, 255, 1);
  --container-section-color: rgba(240, 240, 240, 1);
  --container-global-color: rgba(220, 220, 220, 1);
  --border-divider-color: rgba(0, 0, 0, .120);
  --border-outline-color: rgba(0, 0, 0, .200);

  --normal-active-color: #{$element-active-color};
  --normal-neutral-color: #{$element-neutral-color};
  --normal-disabled-color: #{$element-disabled-color};
  --normal-enabled-background-color: rgba(255, 255, 255, 1);
  --normal-enabled-border-color: rgba(0, 0, 0, .600);
  --normal-hover-background-color: rgba(204, 204, 204, 1);
  --normal-hover-border-color: rgba(0, 0, 0, .600);
  --normal-pressed-background-color: rgba(153, 153, 153, 1);
  --normal-pressed-border-color: rgba(0, 0, 0, .900);
  --normal-focused-background-color: rgba(255, 255, 255, 1);
  --normal-focused-border-color: rgba(255, 197, 0, 1);
  --normal-disabled-background-color: rgba(255, 255, 255, .000);
  --normal-disabled-border-color: rgba(0, 0, 0, .300);

  --raised-active-color: #{$element-active-inverted-color};
  --raised-neutral-color: #{$element-neutral-inverted-color};
  --raised-disabled-color: #{$element-disabled-inverted-color};
  --raised-enabled-background-color: rgba(0, 0, 0, .600);
  --raised-enabled-border-color: rgba(0, 0, 0, .120);
  --raised-hover-background-color: rgba(0, 0, 0, .700);
  --raised-hover-border-color: rgba(0, 0, 0, .120);
  --raised-pressed-background-color: rgba(0, 0, 0, .800);
  --raised-pressed-border-color: rgba(0, 0, 0, .400);
  --raised-focused-background-color: rgba(0, 0, 0, .600);
  --raised-focused-border-color: rgba(255, 197, 0, 1);
  --raised-disabled-background-color: rgba(0, 0, 0, .000);
  --raised-disabled-border-color: rgba(0, 0, 0, .300);

  --indent-active-color: #{$element-active-color};
  --indent-neutral-color: #{$element-neutral-color};
  --indent-disabled-color: #{$element-disabled-color};
  --indent-enabled-background-color: rgba(0, 0, 0, .200);
  --indent-enabled-border-color: rgba(0, 0, 0, .200);
  --indent-hover-background-color: rgba(0, 0, 0, .400);
  --indent-hover-border-color: rgba(0, 0, 0, .200);
  --indent-pressed-background-color: rgba(0, 0, 0, .600);
  --indent-pressed-border-color: rgba(0, 0, 0, .600);
  --indent-focused-background-color: rgba(0, 0, 0, .200);
  --indent-focused-border-color: rgba(255, 197, 0, 1);
  --indent-disabled-background-color: rgba(0, 0, 0, .000);
  --indent-disabled-border-color: rgba(0, 0, 0, .300);

  --flat-active-color: #{$element-active-color};
  --flat-neutral-color: #{$element-neutral-color};
  --flat-disabled-color: #{$element-disabled-color};
  --flat-enabled-background-color: rgba(0, 0, 0, .000);
  --flat-hover-background-color: rgba(0, 0, 0, .200);
  --flat-pressed-background-color: rgba(0, 0, 0, .400);
  --flat-focused-background-color: rgba(0, 0, 0, .000);
  --flat-focused-border-color: rgba(255, 197, 0, 1);
  --flat-disabled-background-color: rgba(0, 0, 0, .000);

  --selected-active-color: #{$element-active-inverted-color};
  --selected-neutral-color: #{$element-neutral-inverted-color};
  --selected-disabled-color: #{$element-disabled-inverted-color};
  --selected-enabled-background-color: rgba(0, 0, 0, 1);
  --selected-hover-background-color: rgba(0, 0, 0, .800);
  --selected-hover-border-color: rgba(0, 0, 0, .800);
  --selected-pressed-background-color: rgba(0, 0, 0, .600);
  --selected-pressed-border-color: rgba(0, 0, 0, .600);
  --selected-focused-background-color: rgba(0, 0, 0, 1);
  --selected-focused-border-color: rgba(255, 197, 0, 1);
  --selected-disabled-background-color: rgba(0, 0, 0, .300);
  --selected-disabled-border-color: rgba(0, 0, 0, .300);

  --thumb-active-color: #{$element-active-color};
  --thumb-neutral-color: #{$element-neutral-color};
  --thumb-disabled-color: #{$element-disabled-color};
  --thumb-enabled-background-color: rgba(255, 255, 255, 1);
  --thumb-enabled-border-color: rgba(0, 0, 0, .600);
  --thumb-hover-background-color: rgba(204, 204, 204, 1);
  --thumb-hover-border-color: rgba(0, 0, 0, .600);
  --thumb-pressed-background-color: rgba(153, 153, 153, 1);
  --thumb-pressed-border-color: rgba(0, 0, 0, .600);
  --thumb-focused-background-color: rgba(255, 255, 255, 1);
  --thumb-focused-border-color: rgba(255, 197, 0, 1);
  --thumb-disabled-background-color: rgba(0, 0, 0, .300);

  --running-active-color: #{$element-active-color};
  --running-neutral-color: #{$element-neutral-color};
  --running-disabled-color: #{$element-disabled-color};
  --running-enabled-background-color: rgba(0, 204, 0, 1);
  --running-enabled-border-color: rgba(0, 0, 0, .120);
  --running-hover-background-color: rgba(0, 153, 0, 1);
  --running-hover-border-color: rgba(0, 0, 0, .120);
  --running-pressed-background-color: rgba(0, 102, 0, 1);
  --running-pressed-border-color: rgba(0, 0, 0, .300);
  --running-focused-background-color: rgba(0, 204, 0, 1);
  --running-focused-border-color: rgba(255, 197, 0, 1);
  --running-disabled-background-color: rgba(0, 204, 0, 0);
  --running-disabled-border-color: rgba(0, 204, 0, 1);

  --instrument-dynamic-color: rgba(0, 0, 255, 1);
  --instrument-static-color: rgba(0, 0, 0, .900);
  --instrument-input-color: rgba(255, 197, 0, 1);
  --alert-alarm-color: rgba(255, 40, 0, 1);
  --alert-warning-color: rgba(255, 144, 0, 1);
  --alert-caution-color: rgba(255, 213, 0, 1);
  --alert-running-color: rgba(0, 200, 0, 1);
}

// STOP GENERATED
