$element-active-color: rgba(0, 0, 0, 0.900);
$element-neutral-color: rgba(0, 0, 0, 0.600);
$element-disabled-color: rgba(0, 0, 0, 0.300);
$element-active-inverted-color: rgba(255, 255, 255, 1);
$element-neutral-inverted-color: rgba(255, 255, 255, 0.600);
$element-disabled-inverted-color: rgba(255, 255, 255, 0.300);

:root {
  --element-neutral-color: #{$element-neutral-color};
  --element-disabled-color: #{$element-disabled-color};
  --element-active-inverted-color: #{$element-active-inverted-color};
  --element-neutral-inverted-color: #{$element-neutral-inverted-color};
  --element-disabled-inverted-color: #{$element-disabled-inverted-color};

  --normal-active-color: #{$element-active-color};
  --normal-neutral-color: #{$element-neutral-color};
  --normal-disabled-color: #{$element-disabled-color};

  --raised-active-color: #{$element-active-inverted-color};
  --raised-neutral-color: #{$element-neutral-inverted-color};
  --raised-disabled-color: #{$element-disabled-inverted-color};

  --indent-active-color: #{$element-active-color};
  --indent-neutral-color: #{$element-neutral-color};
  --indent-disabled-color: #{$element-disabled-color};

  --flat-active-color: #{$element-active-color};
  --flat-neutral-color: #{$element-neutral-color};
  --flat-disabled-color: #{$element-disabled-color};

  --selected-active-color: #{$element-active-inverted-color};
  --selected-neutral-color: #{$element-neutral-inverted-color};
  --selected-disabled-color: #{$element-disabled-inverted-color};

  --container-backdrop-color: rgba(204, 204, 204, 1);
  --container-background-color: rgba(255, 255, 255, 1);
  --container-section-color: rgba(240, 240, 240, 1);
  --container-global-color: rgba(220, 220, 220, 1);
  --border-divider-color: rgba(0, 0, 0, 0.120);
  --border-outline-color: rgba(0, 0, 0, 0.200);
  --normal-enabled-background-color: rgba(255, 255, 255, 1);
  --normal-enabled-border-color: rgba(0, 0, 0, 0.600);
  --normal-hover-background-color: rgba(204, 204, 204, 1);
  --normal-hover-border-color: rgba(0, 0, 0, 0.600);
  --normal-pressed-background-color: rgba(153, 153, 153, 1);
  --normal-pressed-border-color: rgba(0, 0, 0, 0.900);
  --normal-focused-background-color: rgba(255, 255, 255, 1);
  --normal-focused-border-color: rgba(255, 197, 0, 1);
  --normal-disabled-background-color: rgba(255, 255, 255, 0.000);
  --normal-disabled-border-color: rgba(0, 0, 0, 0.300);
  --on-normal-active-color: rgba(0, 0, 0, 1);
  --on-normal-neutral-color: rgba(0, 0, 0, 0.700);
  --on-normal-disabled-color: rgba(0, 0, 0, 0.300);
  --raised-enabled-background-color: rgba(0, 0, 0, 0.600);
  --raised-enabled-border-color: rgba(0, 0, 0, 0.120);
  --raised-hover-background-color: rgba(0, 0, 0, 0.700);
  --raised-hover-border-color: rgba(0, 0, 0, 0.120);
  --raised-pressed-background-color: rgba(0, 0, 0, 0.800);
  --raised-pressed-border-color: rgba(0, 0, 0, 0.400);
  --raised-focused-background-color: rgba(0, 0, 0, 0.600);
  --raised-focused-border-color: rgba(255, 197, 0, 1);
  --raised-disabled-background-color: rgba(0, 0, 0, 0.000);
  --raised-disabled-border-color: rgba(0, 0, 0, 0.300);
  --on-raised-active-color: rgba(255, 255, 255, 1);
  --on-raised-neutral-color: rgba(255, 255, 255, 0.700);
  --on-raised-disabled-color: rgba(255, 255, 255, 0.300);
  --indent-enabled-background-color: rgba(0, 0, 0, 0.200);
  --indent-enabled-border-color: rgba(0, 0, 0, 0.200);
  --indent-hover-background-color: rgba(0, 0, 0, 0.400);
  --indent-hover-border-color: rgba(0, 0, 0, 0.200);
  --indent-pressed-background-color: rgba(0, 0, 0, 0.600);
  --indent-pressed-border-color: rgba(0, 0, 0, 0.600);
  --indent-focused-background-color: rgba(0, 0, 0, 0.200);
  --indent-focused-border-color: rgba(255, 197, 0, 1);
  --indent-disabled-background-color: rgba(0, 0, 0, 0.000);
  --indent-disabled-border-color: rgba(0, 0, 0, 0.300);
  --on-indent-active-color: rgba(0, 0, 0, 1);
  --on-indent-neutral-color: rgba(0, 0, 0, 0.700);
  --on-indent-disabled-color: rgba(0, 0, 0, 0.300);
  --flat-enabled-background-color: rgba(0, 0, 0, 0.000);
  --flat-hover-background-color: rgba(0, 0, 0, 0.200);
  --flat-pressed-background-color: rgba(0, 0, 0, 0.400);
  --flat-focused-background-color: rgba(0, 0, 0, 0.000);
  --flat-focused-border-color: rgba(255, 197, 0, 1);
  --flat-disabled-background-color: rgba(0, 0, 0, 0.000);
  --on-flat-active-color: rgba(0, 0, 0, 1);
  --on-flat-neutral-color: rgba(0, 0, 0, 0.700);
  --on-flat-disabled-color: rgba(0, 0, 0, 0.300);
  --selected-enabled-background-color: rgba(0, 0, 0, 1);
  --selected-hover-background-color: rgba(0, 0, 0, 0.800);
  --selected-pressed-background-color: rgba(0, 0, 0, 0.600);
  --selected-focused-background-color: rgba(0, 0, 0, 1);
  --selected-focused-border-color: rgba(255, 197, 0, 1);
  --selected-disabled-background-color: rgba(0, 0, 0, 0.300);
  --on-selected-active-color: rgba(255, 255, 255, 1);
  --on-selected-neutral-color: rgba(255, 255, 255, 0.700);
  --on-selected-disabled-color: rgba(255, 255, 255, 0.300);
  --thumb-enabled-background-color: rgba(255, 255, 255, 1);
  --thumb-enabled-border-color: rgba(0, 0, 0, 0.600);
  --thumb-hover-background-color: rgba(204, 204, 204, 1);
  --thumb-hover-border-color: rgba(0, 0, 0, 0.600);
  --thumb-pressed-background-color: rgba(153, 153, 153, 1);
  --thumb-pressed-border-color: rgba(0, 0, 0, 0.600);
  --thumb-focused-background-color: rgba(255, 255, 255, 1);
  --thumb-focused-border-color: rgba(255, 197, 0, 1);
  --thumb-disabled-background-color: rgba(0, 0, 0, 0.300);
  --on-thumb-active-color: rgba(0, 0, 0, 1);
  --on-thumb-neutral-color: rgba(0, 0, 0, 0.700);
  --on-thumb-disabled-color: rgba(0, 0, 0, 0.300);
  --amplified-enabled-background-color: rgba(255, 255, 255, 1);
  --amplified-enabled-border-color: rgba(0, 0, 0, 0.600);
  --amplified-hover-background-color: rgba(204, 204, 204, 1);
  --amplified-hover-border-color: rgba(0, 0, 0, 0.600);
  --amplified-pressed-background-color: rgba(153, 153, 153, 1);
  --amplified-pressed-border-color: rgba(0, 0, 0, 0.600);
  --amplified-focused-background-color: rgba(255, 255, 255, 1);
  --amplified-focused-border-color: rgba(255, 197, 0, 1);
  --amplified-disabled-background-color: rgba(0, 0, 0, 0.300);
  --on-amplified-active-color: rgba(0, 0, 0, 1);
  --on-amplified-neutral-color: rgba(0, 0, 0, 0.700);
  --on-amplified-disabled-color: rgba(0, 0, 0, 0.300);
  --instrument-dynamic-color: rgba(0, 0, 255, 1);
  --instrument-static-color: rgba(0, 0, 0, 0.900);
  --instrument-input-color: rgba(255, 197, 0, 1);
  --alert-running-color: rgba(0, 200, 0, 1);
  --alert-caution-color: rgba(255, 213, 0, 1);
  --alert-warning-color: rgba(255, 138, 0, 1);
  --alert-alarm-color: rgba(255, 40, 0, 1);
  --alert-critical-alarm-color: rgba(254, 0, 255, 1);
  --running-enabled-background-color: rgba(0, 204, 0, 1);
  --running-enabled-border-color: rgba(0, 0, 0, 0.120);
  --running-hover-background-color: rgba(0, 153, 0, 1);
  --running-hover-border-color: rgba(0, 0, 0, 0.200);
  --running-pressed-background-color: rgba(0, 102, 0, 1);
  --running-pressed-border-color: rgba(0, 0, 0, 0.400);
  --running-focused-background-color: rgba(0, 204, 0, 1);
  --running-focused-border-color: rgba(0, 0, 0, 1);
  --running-disabled-background-color: rgba(0, 204, 0, 1);
  --running-disabled-border-color: rgba(0, 0, 0, 0.000);
  --on-running-active-color: rgba(0, 0, 0, 1);
  --on-running-neutral-color: rgba(0, 0, 0, 0.700);
  --on-running-disabled-color: rgba(0, 0, 0, 0.300);
  --caution-enabled-background-color: rgba(255, 213, 0, 1);
  --caution-enabled-border-color: rgba(0, 0, 0, 0.120);
  --caution-hover-background-color: rgba(204, 170, 0, 1);
  --caution-hover-border-color: rgba(0, 0, 0, 0.200);
  --caution-pressed-background-color: rgba(153, 128, 0, 1);
  --caution-pressed-border-color: rgba(0, 0, 0, 0.400);
  --caution-focused-background-color: rgba(255, 213, 0, 1);
  --caution-focused-border-color: rgba(0, 0, 0, 1);
  --caution-disabled-background-color: rgba(255, 213, 0, 1);
  --caution-disabled-border-color: rgba(0, 0, 0, 0.000);
  --on-caution-active-color: rgba(0, 0, 0, 1);
  --on-caution-neutral-color: rgba(0, 0, 0, 0.700);
  --on-caution-disabled-color: rgba(0, 0, 0, 0.300);
  --warning-enabled-background-color: rgba(255, 138, 0, 1);
  --warning-enabled-border-color: rgba(0, 0, 0, 0.120);
  --warning-hover-background-color: rgba(204, 110, 0, 1);
  --warning-hover-border-color: rgba(0, 0, 0, 0.200);
  --warning-pressed-background-color: rgba(153, 83, 0, 1);
  --warning-pressed-border-color: rgba(0, 0, 0, 0.400);
  --warning-focused-background-color: rgba(255, 138, 0, 1);
  --warning-focused-border-color: rgba(0, 0, 0, 1);
  --warning-disabled-background-color: rgba(255, 138, 0, 1);
  --warning-disabled-border-color: rgba(0, 0, 0, 0.000);
  --on-warning-active-color: rgba(0, 0, 0, 1);
  --on-warning-neutral-color: rgba(0, 0, 0, 0.700);
  --on-warning-disabled-color: rgba(0, 0, 0, 0.300);
  --alarm-enabled-background-color: rgba(255, 40, 0, 1);
  --alarm-enabled-border-color: rgba(0, 0, 0, 0.120);
  --alarm-hover-background-color: rgba(204, 32, 0, 1);
  --alarm-hover-border-color: rgba(0, 0, 0, 0.200);
  --alarm-pressed-background-color: rgba(153, 24, 0, 1);
  --alarm-pressed-border-color: rgba(0, 0, 0, 0.400);
  --alarm-focused-background-color: rgba(253, 40, 0, 1);
  --alarm-focused-border-color: rgba(0, 0, 0, 1);
  --alarm-disabled-background-color: rgba(255, 40, 0, 1);
  --alarm-disabled-border-color: rgba(0, 0, 0, 0.000);
  --on-alarm-active-color: rgba(0, 0, 0, 1);
  --on-alarm-neutral-color: rgba(0, 0, 0, 0.700);
  --on-alarm-disabled-color: rgba(0, 0, 0, 0.300);
  --critical-alarm-enabled-background-color: rgba(254, 0, 255, 1);
  --critical-alarm-enabled-border-color: rgba(0, 0, 0, 0.120);
  --critical-alarm-hover-background-color: rgba(203, 0, 204, 1);
  --critical-alarm-hover-border-color: rgba(0, 0, 0, 0.200);
  --critical-alarm-pressed-background-color: rgba(152, 0, 153, 1);
  --critical-alarm-pressed-border-color: rgba(0, 0, 0, 0.400);
  --critical-alarm-focused-background-color: rgba(254, 0, 255, 1);
  --critical-alarm-focused-border-color: rgba(0, 0, 0, 1);
  --critical-alarm-disabled-background-color: rgba(254, 0, 255, 1);
  --critical-alarm-disabled-border-color: rgba(0, 0, 0, 0.000);
  --on-critical-alarm-active-color: rgba(0, 0, 0, 1);
  --on-critical-alarm-neutral-color: rgba(0, 0, 0, 0.700);
  --on-critical-alarm-disabled-color: rgba(0, 0, 0, 0.300);

  @mixin font-ui-title {
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 32px;
  }
  @mixin font-ui-subtitle {
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: normal;
    line-height: 32px;
  }
  @mixin font-ui-overline {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: semibold;
    line-height: 24px;
  }
  @mixin font-ui-button {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: semibold;
    line-height: 24px;
  }
  @mixin font-ui-body-active {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 24px;
  }
  @mixin font-ui-body {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: normal;
    line-height: 24px;
  }
  @mixin font-ui-label-active {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 24px;
  }
  @mixin font-ui-label {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: normal;
    line-height: 24px;
  }
}

// STOP GENERATED
