@mixin focus-ring($border-radius) {
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: - $border-width-focus;

    content: "";
    border: $border-width-focus $color-ui-input solid;
    border-radius: $border-radius;
  }
}

@mixin overlay-outline-normal {
  color: $color-on-background-active;

  background-color: $color-outline-overlay-background-normal;
  border-color: $color-outline-overlay-border-normal;
  border-style: solid;
  @include set-border-width-and-margin-for-constant-margin-box-size($border-width);

  &:hover:not(:disabled) {
    color: $color-on-background-focused;

    background-color: $color-outline-overlay-background-hover;
    border-color: $color-outline-overlay-border-hover;
  }

  &:focus-within {
    background-color: $color-on-primary-active;
    @include focus-ring($border-radius-large);


    &:active {
      background-color: $color-on-primary-active;
      border-color: rgba(0, 0, 0, .84); // TODO Extract color
      @include set-border-width-and-margin-for-constant-margin-box-size($border-width);
    }
  }


  &:disabled {
    color: rgba(0, 0, 0, .3); // TODO Extract color
    border-color: $color-border-divider;
  }
}

@mixin overlay-outline-raised {
  color: #fff;

  background-color: $color-on-background-unfocused;
  border: $border-width solid $color-on-background-unfocused;
}

@mixin overlay-outline-selected {
  color: #fff;

  background-color: $color-ui-primary;
  border: $border-width solid $color-border-on-selected-normal;
}

@mixin raised {
  color: $color-on-primary-active;
  @include alpha-states($color-raised-fill, $color-raised-stroke);
}

@mixin outlined {
  color: $color-on-background-active;
  @include solid-states($color-outlined-fill, $color-outlined-stroke);
}

@mixin indent {
  color: $color-on-background-inactive;
  @include alpha-states($color-indent-fill, $color-indent-stroke);
}

@mixin transparent {
  color: $color-on-background-active;
  @include alpha-states($color-on-background-transparent, $color-on-background-transparent);
}

@mixin selected {
  color: $color-on-primary-active;
  @include solid-states($color-ui-primary, $color-raised-stroke);
}

@mixin thumb {
  width: $btn-diameter-thumb;
  height: $btn-diameter-thumb;

  background-color: $color-on-primary-active;
  border: $border-width solid $color-outlined-stroke;
  border-radius: $btn-height-small / 2;
}
