@mixin disabled-font-color() {
  &:disabled,
  &.ob-disabled {
    color: $element-disabled-color;
  }
}

@mixin text-title() {
  font-family: $font-default;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  color: $element-neutral-color;
  @include disabled-font-color();
}

@mixin text-subtitle() {
  font-family: $font-default;
  font-size: $subtitle-font-size;
  font-weight: $subtitle-font-weight;
  color: $element-neutral-color;
  @include disabled-font-color();
}

@mixin text-overline() {
  font-family: $font-default;
  font-size: $overline-font-size;
  font-weight: $overline-font-weight;
  color: $element-active-color;
  text-transform: capitalize;
  letter-spacing: $overline-font-spacing;
  @include disabled-font-color();
}

@mixin text-button() {
  font-family: $font-default;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  color: $element-active-color;
  @include disabled-font-color();
}

@mixin text-selected-body() {
  font-family: $font-default;
  font-size: $selected-body-font-size;
  font-weight: $selected-body-font-weight;
  color: $element-active-color;
  @include disabled-font-color();
}

@mixin text-body() {
  font-family: $font-default;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  color: $element-active-color;
  @include disabled-font-color();
}

@mixin text-selected-label() {
  font-family: $font-default;
  font-size: $selected-label-font-size;
  font-weight: $selected-label-font-weight;
  color: $element-active-color;
  @include disabled-font-color();
}

@mixin text-label() {
  font-family: $font-default;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  line-height: $label-lineheight;
  color: $element-active-color;
  @include disabled-font-color();
}
