@mixin overlay-outline-normal {
  color: $color-on-background-active;

  background-color: $color-outline-overlay-background-normal;
  border: $border-width solid $color-outline-overlay-border-normal;

  &:hover {
    color: $color-on-background-focused;

    background-color: $color-outline-overlay-background-hover;
    border-color: $color-outline-overlay-border-hover;
  }
}

@mixin overlay-outline-raised {
  color: #fff;

  background-color: $color-on-background-unfocused;
  border: $border-width solid $color-on-background-unfocused;
}

@mixin overlay-outline-selected {
  color: #fff;

  background-color: $color-ui-primary;
  border: $border-width solid $color-border-on-selected-normal;
}
