.ob-nav-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: $nav-top-bar-width;
  height: $nav-top-bar-height;

  font-family: $font-default;
  background-color: $color-surface-global;
  border-bottom: solid $color-border-outline $nav-top-bar-border-bottom-width;


  .ob-menu-container {
    display: flex;
    align-items: center;
    height: $nav-top-bar-height;


    .ob-nav-item {
      padding: ($nav-top-bar-height - $nav-btn-height) / 2;
      color: $color-on-background-unfocused;

      & > * {
        margin: 0 ($nav-top-bar-spacing / 2);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &.ob-active {
        color: white;
        background: $color-on-background-active;
      }
    }

    .ob-nav-btn {
      $border-width-and-padding: $nav-btn-padding + $border-width;
      display: flex;


      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, .12);
      }
    }

    .ob-divider {
      width: $nav-divider-width;
      height: $nav-divider-height;

      background-color: $color-border-divider;
    }

    .ob-title {
      margin-left: $nav-title-spacing-x;

      font-size: $nav-title-font-size;
      font-weight: $nav-title-font-weight;
      color: $color-on-background-focused;
    }

    .ob-sub-title {
      margin-left: $nav-title-spacing-x;

      font-size: $nav-sub-title-font-size;
      font-weight: $nav-sub-title-font-weight;
      color: $color-on-background-focused;
    }

  }
}

.ob-nav-menu {
  position: absolute;
  top: $nav-top-bar-height;
  bottom: 0;
  left: 0;
  display: none;

  width: $nav-menu-width;

  font-family: $font-default;
  font-size: $nav-menu-font-size;
  background-color: $color-surface-global;

  border-top: $color-on-background-active solid $nav-menu-footer-divider-thickness;

  &.ob-active {
    display: block;
  }

  .ob-nav-item {
    position: relative;
    display: flex;
    align-items: center;

    height: $nav-menu-item-height;
    margin: 0 $nav-menu-item-margin-x;

    cursor: pointer;
    border-bottom: $nav-menu-item-divider-thickness solid $color-border-outline;

    .ob-nav-expand-icon {
      position: absolute;
      right: 0;
    }

    .ob-label {
      position: absolute;
      left: $nav-menu-label-margin-x;
    }

    &.ob-active .ob-label {
      font-weight: $font-weight-bold;
    }
  }

  .ob-expandable > .ob-expanded {
    &.ob-nav-item {
      border-bottom: none;
    }

    > .ob-nav-expand-icon {
      transform: rotate(90deg);

    }
  }

  .ob-nav-sub-item-container {
    .ob-nav-item {
      margin-left: $nav-menu-label-margin-x + $nav-menu-item-margin-x;
    }
  }

  .ob-nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: $color-surface-section;
    border-top: $nav-menu-footer-divider-thickness solid $color-border-outline;

    .ob-nav-footer-logo {
      max-width: 70%;
      max-height: 100%;


    }

  }

  .ob-nav-footer-logo-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $nav-menu-footer-logo-height;

    margin: 0 $nav-menu-item-margin-x;


  }
}

.ob-number-tag-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $number-tag-diameter;
  height: $number-tag-diameter;
  border-radius: $number-tag-diameter;

  &.ob-warning {
    background-color: $color-alert-warning;
  }
}
