<ob-top-bar></ob-top-bar>
<div style="padding: 10rem; ">
  <ob-button-text [label]="'Rotate palette'" (onclick)="palletSwitchService.rotatePalette()"
                   [componentStyle]="normalStyle"></ob-button-text>
  <ob-button-text [label]="'Rotate palette'" (onclick)="palletSwitchService.rotatePalette()"
                   [componentStyle]="raisedStyle"></ob-button-text>
  <ob-button-text [label]="'Select button'" [componentStyle]="normalStyle"
                   [setSelectedOnClick]="true"></ob-button-text>
  <ob-button-text [label]="'Select button'" [componentStyle]="raisedStyle"
                   [setSelectedOnClick]="true"></ob-button-text>
  <ob-slide-toggle></ob-slide-toggle>
  <ob-button-group></ob-button-group>
  <ob-button-icon [label]="'Icon'" [componentStyle]="normalStyle"
                   [materialDesignIconName]="'wb_sunny'"></ob-button-icon>
  <ob-button-icon [label]="'Icon'" [componentStyle]="raisedStyle"
                   [materialDesignIconName]="'wb_cloudy'"></ob-button-icon>
  <div style="padding: 5rem;" class="ob-btn-group">
    <div class="ob-btn ob-normal">
      <span class="ob-icon">
        <i class="material-icons">wb_sunny</i>
      </span>
      <span class="ob-text-under">sun</span>
    </div>
    <div class="ob-btn ob-normal">
      <span class="ob-icon">
        <i class="material-icons">wb_sunny</i>
      </span>
      <span class="ob-text-under">sun</span>
    </div>
    <div class="ob-btn ob-normal">
      <span class="ob-icon">
        <i class="material-icons">wb_sunny</i>
      </span>
      <span class="ob-text-under">sun</span>
    </div>
  </div>
</div>

