<app-top-bar></app-top-bar>
<div style="padding: 10rem; ">
  <app-button-text [label]="'Rotate palette'" (onclick)="palletSwitchService.rotatePalette()"
                   [componentStyle]="normalStyle"></app-button-text>
  <app-button-text [label]="'Rotate palette'" (onclick)="palletSwitchService.rotatePalette()"
                   [componentStyle]="raisedStyle"></app-button-text>
  <app-button-text [label]="'Select button'" [componentStyle]="normalStyle"
                   [setSelectedOnClick]="true"></app-button-text>
    <app-button-text [label]="'Select button'" [componentStyle]="raisedStyle"
                   [setSelectedOnClick]="true"></app-button-text>
  <app-button-toggle></app-button-toggle>
  <app-button-group></app-button-group>
  <app-button-icon [label]="'Icon'" [componentStyle]="normalStyle" [materialDesignIconName]="'wb_sunny'"></app-button-icon>
  <app-button-icon [label]="'Icon'" [componentStyle]="raisedStyle" [materialDesignIconName]="'wb_cloudy'"></app-button-icon>
</div>

