<label [attr.for]="inputId" #label>
  <div #toggleBar class="ob-slide-toggle"
       (click)="_onClick()"
       [class.ob-selected]='checked'>
    <input #input class="ob-visually-hidden" type="checkbox"
           role="switch"
           [id]="inputId"
           [required]="required"
           [tabIndex]="tabIndex"
           [checked]="checked"
           [disabled]="disabled"
           [attr.name]="name"
           [attr.aria-checked]="checked.toString()"
           [attr.aria-label]="ariaLabel"
           [attr.aria-labelledby]="ariaLabelledby"
           (change)="_onChangeEvent($event)"
           (click)="_onInputClick($event)">

    <div class="ob-thumb"
         #thumbContainer>

    </div>
  </div>
</label>
