<ob-top-bar [title]="'Application'" [subTitle]="subTitle" [menuActive]="menuActive"
            (clickOnMenuEvent)="toggleMenu()"></ob-top-bar>
<ob-navigation-menu #menuComponent [disabled]="!menuActive" (changeActiveItem)="changeActiveView($event)"
                    [numberOfNotifications]="numberOfNotifications"
                    logoSrc="/assets/img/OpenBridge_Logo.png"
>
  <ob-navigation-menu-item (changeActiveStatus)="menuComponent.onActiveItemChange($event)" [materialLogo]="'settings'"
                           [label]="'Selection1'">
  </ob-navigation-menu-item>
  <ob-navigation-menu-expandable-item (changeActiveStatus)="menuComponent.onActiveItemChange($event)"
                                      [materialLogo]="'settings'" [label]="'Selection2'">
    <ob-navigation-menu-item [materialLogo]="'settings'" [label]="'SubSelection1'"
                             (changeActiveStatus)="menuComponent.onActiveItemChange($event)">
    </ob-navigation-menu-item>
    <ob-navigation-menu-item [materialLogo]="'settings'" [label]="'SubSelection2'"
                             (changeActiveStatus)="menuComponent.onActiveItemChange($event)">
    </ob-navigation-menu-item>
  </ob-navigation-menu-expandable-item>
</ob-navigation-menu>
<div style="padding-left: 50rem; padding-top: 10rem;">
  <!--
  <ob-button-text [label]="'Rotate palette'" (onclick)="palletSwitchService.rotatePalette()"
                   [componentStyle]="normalStyle"></ob-button-text>
  <ob-button-text [label]="'Rotate palette'" (onclick)="palletSwitchService.rotatePalette()"
                   [componentStyle]="raisedStyle"></ob-button-text>
  <ob-button-text [label]="'Select button'" [componentStyle]="normalStyle"
                   [setSelectedOnClick]="true"></ob-button-text>
  <ob-button-text [label]="'Select button'" [componentStyle]="raisedStyle"
                   [setSelectedOnClick]="true"></ob-button-text>

  <ob-button-group></ob-button-group>
  <ob-button-icon [label]="'Icon'" [componentStyle]="normalStyle"
                   [materialDesignIconName]="'wb_sunny'"></ob-button-icon>
  <ob-button-icon [label]="'Icon'" [componentStyle]="raisedStyle"
                   [materialDesignIconName]="'wb_cloudy'"></ob-button-icon>
                   -->
  <a ob-button-normal (click)="rotatePalette()">Rotate palette</a>
  <a ob-button-normal>
    <span class="ob-icon">
      <i class="material-icons">wb_sunny</i>
    </span>
    <span class="ob-text-under">sun</span>
  </a>
  <a ob-button-raised (click)="toggleDisable()">
    <span *ngIf="btnDisabled">Enable</span>
    <span *ngIf="!btnDisabled">Disable</span>
  </a>
  <button ob-button-normal [disabled]="btnDisabled">Disabled</button>
  <ob-slide-toggle [disabled]="btnDisabled"></ob-slide-toggle>
  <div style="margin: 5rem;">
  <ob-button-toggle-group  class="ob-btn-group" [disabled]="btnDisabled">
    <button ob-button-toggle [checked]="true">
      <span class="ob-icon">
        <i class="material-icons">wb_sunny</i>
      </span>
      <span class="ob-text-under">sun</span>
    </button>
    <button ob-button-toggle>
      <span class="ob-icon">
        <i class="material-icons">wb_sunny</i>
      </span>
      <span class="ob-text-under">sun</span>
    </button>
    <button ob-button-toggle>
      <span class="ob-icon">
        <i class="material-icons">wb_sunny</i>
      </span>
      <span class="ob-text-under">sun</span>
    </button>
  </ob-button-toggle-group>
    </div>
</div>



