<div class="ob-nav-menu">
  <div class="ob-nav-item">
    <span class="ob-icon">
      <i class="material-icons">settings</i>
    </span>
    <span class="ob-label">Selection</span>
  </div>
  <div class="ob-expandable">
    <div class="ob-nav-item">
    <span class="ob-icon">
      <i class="material-icons">settings</i>
    </span>
      <span class="ob-label">Selection</span>
      <span class="ob-nav-icon">
      <i class="material-icons">play_arrow</i>
    </span>
    </div>
    <div class="ob-nav-sub-item-container">
      <div class="ob-nav-item">
        <span class="ob-icon">
          <i class="material-icons">settings</i>
        </span>
        <span class="ob-label">SubSelection</span>
      </div>
      <div class="ob-nav-item">
        <span class="ob-icon">
          <i class="material-icons">settings</i>
        </span>
        <span class="ob-label">SubSelection</span>
      </div>
    </div>
  </div>
  <div class="ob-expandable  ob-active">
    <div class="ob-nav-item">
      <span class="ob-icon">
        <i class="material-icons">settings</i>
      </span>
      <span class="ob-label">Selection</span>
      <span class="ob-nav-icon">
        <i class="material-icons">play_arrow</i>
      </span>
    </div>
    <div class="ob-nav-sub-item-container">
      <div class="ob-nav-item">
        <span class="ob-icon">
          <i class="material-icons">settings</i>
        </span>
        <span class="ob-label">SubSelection</span>
      </div>
      <div class="ob-nav-item">
        <span class="ob-icon">
          <i class="material-icons">settings</i>
        </span>
        <span class="ob-label">SubSelection</span>
      </div>
    </div>
  </div>
  <div class="ob-nav-item ob-expandable">
    <span class="ob-icon">
      <i class="material-icons">settings</i>
    </span>
    <span class="ob-label">Selection</span>
    <span class="ob-nav-icon">
      <i class="material-icons">play_arrow</i>
    </span>
  </div>
  <div class="ob-nav-footer">
    <div class="ob-nav-item">
      <i class="material-icons">settings</i>
      <span class="ob-label">Selection</span>
    </div>
    <div class="ob-nav-footer-logo"></div>
  </div>
</div>
