<div class="ob-nav-menu" [class.ob-active]="!disabled">
  <ng-content></ng-content>
  <div class="ob-nav-footer">
    <div class="ob-nav-item">
      <i class="material-icons">settings</i>
      <span class="ob-label">Selection</span>
    </div>
    <div class="ob-nav-footer-logo-row">
      <img class="ob-nav-footer-logo" src="./../../../../assets/img/OpenBridge_Logo2-p-500.png">
      <div class="ob-nav-notification-badge">
        <div class="ob-number-tag-container ob-warning" >
          <div class="ob-number-tag">2</div>
        </div>
      </div>
    </div>
  </div>
</div>
